body {
  background-color: #5cdb95;
  margin: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#heading {
  font-size: 20px;
}

#details {
  margin-top: 50px;
  font-size: 20px;
  line-height: 15px;
}

#container {
  margin-top: 50px;
}

#container h2 {
  font-size: 30px;
}

#assignmentTable,
td,
th {
  font-size: large;
  border-collapse: collapse;
  border-bottom: 1px solid rgb(39, 0, 0);
  text-align: left;
  vertical-align: bottom;
  height: 50px;
  width: 800px;
  padding: 15px;
}

th,
td {
  height: 20px;
}

tr:nth-child(even) {
  background-color: #c9c9c9;
}

body {
  width: 100%;
}
