.simulation-area {
  position: relative;
}

.help {
  position: relative;
}

.help-text {
  position: absolute;
}

#canvas-container {
  position: relative;
}

canvas {
  position: absolute;
}

.stats {
  float: left;
}

.simulation {
  float: left;
}
