body {
  background-color: #0e1217;
}

.simulation-area {
  /* background-color: #a00000; */
  width: 400px;
  height: 400px;
  margin: 10px auto;
  border: 2px solid #cfcfcf;
  position: relative;
}

.stats {
  text-align: center;
}

.stats-title {
  margin-right: 1rem;
  display: inline-block;
  font-size: 2rem;
  color: #cfcfcf;
}

#healthy-population {
  color: skyblue;
}

#infected-population {
  color: red;
}
