body {
  background-color: #0e1217;
  font-family: 'Franklin Gothic Medium';
  color: #cfcfcf;
}

.simulation-area {
  width: 400px;
  height: 400px;
  margin: 10px auto;
  border: 2px solid #cfcfcf;
}

.stats {
  width: 30%;
  margin-left: 10%;
  margin-right: 0;
}

.index-color {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}

.skyblue {
  background-color: skyblue;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.hotpink {
  background-color: hotpink;
}

.yellow {
  background-color: yellow;
}

.simulation {
  width: 40%;
  margin-right: 7%;
}

.stats-title {
  margin: 32px 80px;
  margin-right: 0;
  display: block;
  font-size: 32px;
  color: #cfcfcf;
}

.day-count {
  text-align: center;
  font-size: 32px;
  margin: 48px 80px;
  margin-top: 10px;
  width: 50%;
}

#healthy-population {
  color: skyblue;
}

#infected-population {
  color: red;
}

#vaccinated-population {
  color: green;
}

#recovered-population {
  color: yellow;
}

#deceased-population {
  color: hotpink;
}

.main-menu {
  text-align: center;
}

.main-menu-title {
  text-align: center;
  font-size: 48px;
  padding: 10px 0;
  margin: 5px auto;
  margin-bottom: 20px;
  cursor: pointer;
}

.main-menu label {
  font-size: 32px;
}

.main-menu input {
  width: 30%;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

#wave-effect {
  width: 20px;
  height: 20px;
  margin: 0;
}

.note {
  font-size: 16px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 30px;
}

.simulation-container {
  display: none;
}

#start-simulation,
#restart-simulation {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium';
  font-weight: bold;
  color: #0e1217;
}

#start-simulation:hover,
#restart-simulation:hover {
  background-color: #cfcfcf;
}

#restart-simulation {
  margin-top: 20px;
}

#simulation-timeline {
  display: block;
  margin: 10px auto;
  margin-bottom: 5px;
  width: 400px;
  cursor: pointer;
}

.help {
  text-align: center;
  margin-bottom: 20px;
}

.help-image {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.help-text {
  font-size: 16px;
  display: none;
  background-color: #cfcfcf;
  color: #0e1217;
  padding: 5px;
  text-align: start;
  width: 400px;
}

.extra-features {
  font-size: 40px;
  color: darkorange;
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}

#canvas-container {
  height: 300px;
  width: 100%;
}

canvas {
  display: block;
  margin: 0 50px;
}

#graph {
  z-index: 0;
}

.simulation label {
  font-size: 32px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.buttons {
  width: 100%;
  text-align: center;
}

#slower-speed,
#faster-speed {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
}

#slower-speed:hover,
#faster-speed:hover {
  background-color: #cfcfcf;
}

.change-speed-icon {
  width: 30px;
  height: 23px;
}
