/* Styles the whole webpage */
body {
  background-color: #0e1217;
  font-family: 'Franklin Gothic Medium';
  color: #cfcfcf;
}

/* Main Menu Page */
.main-menu {
  text-align: center;
}

/* Title of Page */
.main-menu-title {
  margin: 5px auto 20px;
  padding: 10px 0;
  font-size: 48px;
  text-align: center;
  cursor: pointer;
}

/* Labels in Main Menu */
.main-menu label {
  font-size: 32px;
}

/* Input Sliders in Main Menu */
.main-menu input {
  width: 30%;
  margin: 10px 0 30px;
  cursor: pointer;
}

/* Extra Features heading */
.extra-features {
  margin: 20px 0 15px;
  padding: 10px 0;
  font-size: 40px;
  color: darkorange;
  cursor: pointer;
}

/* Wave effect checkbox */
#wave-effect {
  width: 20px;
  height: 20px;
  margin: 0;
}

/* Note below wave effect */
.note {
  display: inline-block;
  margin: 5px 0 30px;
  font-size: 16px;
}

/* Main buttons (Start, Restart) to navigate the webpage */
#start-simulation,
#restart-simulation {
  display: block;
  margin: 0 auto 50px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium';
  font-weight: bold;
  color: #0e1217;
  cursor: pointer;
}

#start-simulation:hover,
#restart-simulation:hover {
  background-color: #cfcfcf;
}

/* Simulation Page */
.simulation-container {
  display: none;
  width: 100%;
}

/* Canvas container */
#canvas-container {
  width: 100%;
  height: 300px;
}

/* All the canvas present in the HTML */
canvas {
  display: block;
  margin: 0 50px;
}

/* Graph outline that display X and Y axis */
#graph {
  z-index: 0;
}

/* Container of stats displayed */
.stats {
  width: 30%;
  margin-left: 10%;
}

/* The day count inside stats container */
.day-count {
  width: 50%;
  margin: 10px 80px 48px 80px;
  font-size: 32px;
  text-align: center;
}

/* The colored circle representing the state. */
.index-color {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 50%;
}

/* Styles the classes used in circle. */
.skyblue {
  background-color: skyblue;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.hotpink {
  background-color: hotpink;
}

.yellow {
  background-color: yellow;
}

/* Text that display person's state (Healthy, Infected, etc). */
.stats-title {
  display: block;
  margin: 32px 0 32px 80px;
  font-size: 32px;
  color: #cfcfcf;
}

/* Styles the number of people displayed in different states. */
#healthy-population {
  color: skyblue;
}

#infected-population {
  color: red;
}

#vaccinated-population {
  color: green;
}

#recovered-population {
  color: yellow;
}

#deceased-population {
  color: hotpink;
}

/* The right side container of simulation. */
.simulation {
  width: 40%;
  margin-right: 7%;
}

/* The square boundary inside which simulation occurs. */
.simulation-area {
  width: 400px;
  height: 400px;
  margin: 10px auto;
  border: 2px solid #cfcfcf;
}

/* The slider below simulation area. */
#simulation-timeline {
  display: block;
  width: 400px;
  margin: 10px auto 5px;
  cursor: pointer;
}

/* Container of help image. */
.help {
  margin-bottom: 20px;
  text-align: center;
}

/* The help image below slider. */
.help-image {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/* The help paragraph displayed when mouse hovered. */
.help-text {
  display: none;
  width: 400px;
  font-size: 16px;
  padding: 5px;
  background-color: #cfcfcf;
  color: #0e1217;
  text-align: start;
}

/* The label that displays current speed of simulation. */
.simulation label {
  display: inline-block;
  width: 100%;
  font-size: 32px;
  text-align: center;
}

/* The container of buttons (slow, fast). */
.change-speed-buttons {
  width: 100%;
  text-align: center;
}

/* The buttons to slow and speed the simulation. */
#slower-speed,
#faster-speed {
  margin-top: 5px;
  padding: 5px auto;
  cursor: pointer;
}

#slower-speed:hover,
#faster-speed:hover {
  background-color: #cfcfcf;
}

/* The image placed inside the buttons. */
.change-speed-icon {
  width: 30px;
  height: 23px;
}

/* The button to restart simulation. */
#restart-simulation {
  margin-top: 20px;
}
