@media (min-width: 780px) {
  body {
    margin-left: 9.375%;
    margin-right: 9.375%;
  }
  .dropdown {
    display: none;
    visibility: hidden;
  }

  .navbar {
    display: block;
    float: right;
    max-width: 90%;
    margin-top: -5rem;
  }

  .navbar-list {
    display: inline-block;
  }

  .navbar-item {
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    color: #1d1d1f;
    margin-left: 3rem;
  }

  .navbar-item:hover {
    color: #06c167;
  }

  .navbar-item:hover:after {
    content: url("https://sujal7.github.io/Leapfrog-Assignments/design/final-assignment/images/border-image.png");
    position: absolute;
    left: 45%;
    top: 50%;
  }

  .navbar-item:focus {
    color: #06c167;
  }

  .header-image {
    width: 46.8rem;
    height: 63.4rem;
  }

  .header-content {
    float: left;
    width: 45.55%;
  }
  .header-title {
    width: 100%;
    font-size: 7.5rem;
    line-height: 9.1rem;
    text-align: start;
  }

  .header-paragraph {
    font-size: 1.6rem;
    line-height: 2.3rem;
    text-align: start;
  }

  .get-started {
    max-width: 50%;
  }
  .banner-container {
    float: right;
    width: 40%;
    margin-right: 3.58%;
    overflow: inherit;
  }

  .header-background {
    top: -30rem;
    left: -12%;
    z-index: -2;
    width: 123.5%;
  }

  .header-ratings {
    top: 46.3%;
    left: -19%;
    z-index: 1;
  }

  .header-polcadot {
    top: 75.25%;
    left: 71.15%;
  }
  .header-quality-product {
    top: 32.01%;
    left: 59.82%;
  }

  .header:after {
    clear: both;
    display: table;
    content: "";
  }

  .brand-logos {
    margin-top: 8rem;
    width: 50%;
    margin-bottom: 20rem;
  }

  .brand-one {
    width: 12.3rem;
    float: left;
  }

  .brand-two {
    width: 11.8rem;
    float: left;
    margin-left: 5%;
  }

  .brand-three {
    float: left;
    width: 11.9rem;
    margin-top: -3rem;
    margin-left: 80%;
  }

  .feature {
    width: 25%;
  }

  .col-one {
    content: "";
    clear: none;
    display: block;
  }

  .feature-second-row {
    margin: 0;
  }

  .our-benefits {
    margin-top: 13rem;
  }

  .our-benefits:after {
    clear: both;
    display: table;
    content: "";
  }

  .benefits-image-container {
    height: 60.8rem;
    background-color: #f0f1ec;
    width: 46.23%;
    float: left;
  }

  .benefits-image {
    width: 82.25%;
    height: 51.3rem;
    top: 0;
    left: 8.87%;
  }

  .benefits-content {
    float: right;
    width: 45.89%;
  }

  .benefits-title,
  .our-stars.title,
  .our-features-title,
  .our-product-title {
    font-size: 6rem;
    line-height: 7.3rem;
    color: #1d1d1f;
    font-weight: 500;
  }

  .our-stars {
    margin-top: 18.3rem;
  }

  .our-stars:after {
    display: table;
    clear: both;
    content: "";
  }

  .our-stars-image-container {
    float: right;
    width: 46.24%;
    height: 60.8rem;
    background-color: #f0f1ec;
  }

  .our-stars-image {
    width: 82.25%;
    height: 51.3rem;
    top: 0;
    left: 17.744%;
  }

  .our-stars-content {
    float: left;
    width: 48.71%;
  }

  .our-stars-stats {
    float: left;
    padding-right: 10%;
  }

  .special-promo {
    clear: both;
    display: table;
    content: "";
    width: 50%;
  }

  .our-features {
    margin-top: 19.7rem;
  }

  .our-features-image,
  .our-features-description {
    width: 25%;
    height: 29.25rem;
    margin: 0;
  }

  .our-features-first-row .our-features-image,
  .our-features-first-row .our-features-description {
    float: left;
  }

  .our-features-second-row .our-features-image,
  .our-features-second-row .our-features-description {
    float: right;
  }

  .our-features-description-title {
    padding-top: 1.8rem;
    font-size: 3rem;
    line-height: 3rem;
  }

  .our-features-description-content {
    padding-top: 1.8rem;
  }
  .discover-now {
    margin-top: 1rem;
  }

  .our-features:after {
    display: table;
    content: "";
    clear: both;
  }

  .our-product:after {
    display: table;
    clear: both;
    content: "";
  }

  .our-product-container {
    width: 23.076%;
    float: left;
    margin-left: 2.56%;
  }

  .first-product-container {
    margin-left: 0;
  }

  .veggie {
    margin-left: 0;
    margin-right: 0;
    margin-top: 15rem;
  }

  .veggie-image {
    width: 100%;
    min-height: 30rem;
    left: 0;
    top: 0;
  }

  .veggie-title {
    font-size: 6rem;
    line-height: 6.2rem;
  }

  .veggie-get-started {
    margin-top: 2rem;
    width: 25%;
  }

  .veggie-content {
    margin-top: 2%;
  }

  .footer {
    margin-top: 10rem;
  }

  .footer-foodies {
    width: 25%;
    float: left;
    margin-bottom: 9rem;
    margin-right: 4%;
    text-align: start;
  }

  .footer-content {
    padding-left: 0;
  }

  .footer-about-us {
    width: 20%;
    float: left;
    margin-bottom: 9rem;
    margin-top: 0;
    margin-right: 2%;
    text-align: start;
  }

  .footer-company {
    width: 20%;
    float: left;
    margin-bottom: 9rem;
    margin-top: 0;
    margin-right: 4%;
    text-align: start;
  }

  .get-in-touch {
    width: 25%;
    float: right;
    margin-bottom: 9rem;
    margin-top: 0;
    text-align: start;
  }

  .copyright {
    display: block;
    clear: both;
    content: "";
    width: 100%;
  }
}
