html {
  font-size: 62.5%; /* resized the root font size to 10px so that using rem units will be easier */
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  margin-left: 7.2%;
  margin-right: 7.47%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.top-nav {
  margin-top: 2.4rem;
  overflow: hidden;
  margin-left: -0.8%; /* 7.2% - 8% */
  margin-right: -0.39%; /* 7.47% - 7.86% */
}

.navbar {
  display: none;
}

.navbar ul {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 4rem;
}

.navbar-item {
  color: #1d1d1f;
}

.header-content {
  margin-top: 6rem;
}

.header-title {
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
  color: #1d1d1f;
}

.header-paragraph {
  text-align: center;
  font-size: 1.4rem;
  color: #1d1d1f;
  margin-top: 2.5rem;
}

.get-started {
  font-size: 1.6rem;
  width: 100%;
  background-color: #06c167;
  margin-top: 5.3rem;
  border: 0;
  padding-top: 2.4rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
  font-weight: 400;
  /* padding-left: 31.22%;
  padding-right: 31.22%; */
}

.header-arrow {
  margin-left: 10.22%;
}
.banner-container {
  position: relative;
  margin-top: 4.7rem;
  width: 32rem;
  height: 46.9rem;
  overflow: hidden;
  /* need to change this */
}

.header-image {
  height: 46.9rem;
}

.header-ratings,
.header-quality-product {
  height: 5.3rem;
  /* width: 71.875%; 230/320 */
  background-color: #ffffff;
  padding-left: 1.9rem; /* 19/230 */
  padding-right: 1.7rem;
  padding-top: 1.7rem;
  padding-bottom: 1.8rem;
  border-radius: 10rem;
  width: 23rem;
}

.ratings-text,
.quality-product-text {
  font-weight: 500;
  font-size: 1.5rem;
  color: #1d1d1f;
}

/* .ratings-text {
  margin-right: 1.5rem;
} */

.header-quality-product {
  max-height: 5.3rem;
  padding-left: 1rem;
  padding-right: 1.6rem;
  padding-top: 0;
  padding-bottom: 0;
}

.header-person-picture {
  padding-top: 0.7rem;
  padding-bottom: 0.6rem;
}

.quality-product-text {
  padding-top: 1.7rem;
  padding-bottom: 1.8rem;
  margin-left: 1rem;
}

.brand-logos {
  margin-top: 5.218rem;
}

.brand-one {
  width: 12.3rem;
  float: left;
}

.brand-two {
  width: 11.8rem;
  float: right;
}

.brand-three {
  width: 11.9rem;
  margin-top: 3rem;
  margin-left: 31.25%;
  margin-right: 31.25%;
}

.features {
  margin-top: 5.9rem;
  border-top: 1px solid rgba(112, 112, 112, 0.5);
  border-bottom: 1px solid rgba(112, 112, 112, 0.5);
  padding-top: 5.95rem;
  padding-bottom: 5.95rem;
  width: 100%;
}

.feature {
  width: 50%;
}

.feature-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.feature-content {
  margin-top: 2.1rem;
  text-align: center;
}

.feature-second-row {
  margin-top: 10.4rem;
}

.feature-title {
  font-weight: 400;
  font-size: 1.8rem;
  color: #1d1d1f;
}

.feature-description {
  font-weight: 500;
  font-size: 1.4rem;
  color: #1d1d1f;
  opacity: 0.75;
  margin-top: 0.7rem;
}

.our-benefits {
  margin-top: 9.05rem;
}

.benefits-image-container {
  height: 41.3rem;
  background-color: #f0f1ec;
}

.benefits-image {
  width: 85.625%;
  height: 41.7rem;
}

.benefits-content {
  margin-top: 5.7rem;
}

.benefits-content h5 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #1d1d1f;
  text-align: center;
  margin-bottom: 1.3rem;
}

.benefits-title {
  font-weight: 500;
  text-align: center;
  font-size: 3.5rem;
  color: #1d1d1f;
}

.benefits-list {
  margin-top: 5.2rem;
  list-style-image: url("/design/final-assignment/images/check-icon.png");
  margin-left: 0px;
}

.benefits-point {
  font-weight: 400;
  font-size: 1.6rem;
  color: #1d1d1f;
  margin-left: 7rem;
  padding-left: 2.2rem;
  margin-bottom: 2.1rem;
}

.our-stars {
  margin-top: 13.1rem;
}

.our-stars-image-container {
  height: 46rem;
  background-color: #f0f1ec;
}

.our-stars-image {
  width: 86.56%;
  height: 48.9rem;
}

.our-stars-content {
  margin-top: 3.5rem;
  text-align: center;
}

.our-stars-content h5 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1d1d1f;
  margin-bottom: 1.3rem;
}

.our-stars-title {
  font-size: 3.5rem;
  font-weight: 500;
  color: #1d1d1f;
  margin-bottom: 5.3rem;
  line-height: 4.2rem;
}

.our-stars-stats {
  margin-bottom: 3.9rem;
}

.stats-numbers {
  font-weight: 600;
  font-size: 4rem;
  color: #06c167;
  line-height: 4.8rem;
  margin-bottom: 1.6rem;
}

.stats-detail {
  font-weight: 400;
  font-size: 1.5rem;
  color: #1d1d1f;
  opacity: 0.65;
  line-height: 1.8rem;
}

.special-promo {
  margin-top: 2.7rem;
}

.our-features {
  margin-top: 13.9rem;
}

.our-features h5 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #1d1d1f;
  text-align: center;
  margin-bottom: 1.3rem;
}

.our-features-title {
  font-weight: 500;
  text-align: center;
  font-size: 3.5rem;
  color: #1d1d1f;
  margin-bottom: 6.5rem;
}
