html {
  font-size: 62.5%; /* resized the root font size to 10px so that using rem units will be easier */
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  margin-left: 7.2%;
  margin-right: 7.47%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.header-background {
  width: 118.7%;
  min-height: 932px;
  background-color: #f3fcf7;
}

.top-nav {
  margin-top: 2.4rem;
  overflow: hidden;
  margin-left: -0.8%; /* 7.2% - 8% */
  margin-right: -0.39%; /* 7.47% - 7.86% */
}

.navbar {
  display: none;
}

.navbar ul {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 4rem;
}

.navbar-item {
  color: #1d1d1f;
}

.header-content {
  margin-top: 6rem;
}

.header-title {
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
  color: #1d1d1f;
}

.header-paragraph {
  text-align: center;
  font-size: 1.4rem;
  color: #1d1d1f;
  margin-top: 2.5rem;
}

.get-started {
  font-size: 1.6rem;
  width: 100%;
  background-color: #06c167;
  margin-top: 5.3rem;
  border: 0;
  padding-top: 2.4rem;
  padding-bottom: 2.5rem;
  color: #ffffff;
  font-weight: 400;
}

.header-arrow {
  margin-left: 10.22%;
}
.banner-container {
  position: relative;
  margin-top: 4.7rem;
  width: 100%;
  height: 46.9rem;
  overflow: hidden;
}

.header-image {
  height: 46.9rem;
}

.header-ratings,
.header-quality-product {
  height: 5.3rem;
  background-color: #ffffff;
  padding-left: 1.9rem;
  padding-right: 1.7rem;
  padding-top: 1.7rem;
  padding-bottom: 1.8rem;
  border-radius: 10rem;
  width: 23rem;
}

.ratings-text,
.quality-product-text {
  font-weight: 500;
  font-size: 1.5rem;
  color: #1d1d1f;
}

.header-quality-product {
  max-height: 5.3rem;
  padding-left: 1rem;
  padding-right: 1.6rem;
  padding-top: 0;
  padding-bottom: 0;
}

.header-person-picture {
  padding-top: 0.7rem;
  padding-bottom: 0.6rem;
}

.quality-product-text {
  padding-top: 1.7rem;
  padding-bottom: 1.8rem;
  margin-left: 1rem;
}

.brand-logos {
  margin-top: 5.218rem;
}

.brand-one {
  width: 12.3rem;
  float: left;
}

.brand-two {
  width: 11.8rem;
  float: right;
}

.brand-three {
  width: 11.9rem;
  margin-top: 3rem;
  margin-left: 31.25%;
  margin-right: 31.25%;
}

.features {
  margin-top: 5.9rem;
  border-top: 1px solid rgba(112, 112, 112, 0.5);
  border-bottom: 1px solid rgba(112, 112, 112, 0.5);
  padding-top: 5.95rem;
  padding-bottom: 5.95rem;
  width: 100%;
}

.feature {
  width: 50%;
}

.feature-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.feature-content {
  margin-top: 2.1rem;
  text-align: center;
}

.feature-second-row {
  margin-top: 10.4rem;
}

.feature-title {
  font-weight: 400;
  font-size: 1.8rem;
  color: #1d1d1f;
}

.feature-description {
  font-weight: 500;
  font-size: 1.4rem;
  color: #1d1d1f;
  opacity: 0.75;
  margin-top: 0.7rem;
}

.our-benefits {
  margin-top: 9.05rem;
}

.benefits-image-container {
  height: 41.3rem;
  background-color: #f0f1ec;
}

.benefits-image {
  width: 85.625%;
  height: 41.7rem;
}

.benefits-content {
  margin-top: 5.7rem;
}

.benefits-content h5 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #1d1d1f;
  text-align: center;
  margin-bottom: 1.3rem;
}

.benefits-title {
  font-weight: 500;
  text-align: center;
  font-size: 3.5rem;
  color: #1d1d1f;
}

.benefits-content ul {
  margin-top: 5.2rem;
  list-style-image: url("https://sujal7.github.io/Leapfrog-Assignments/design/final-assignment/images/check-icon-backup.png");
  margin-left: 0px;
}

.benefits-point {
  font-weight: 400;
  font-size: 1.6rem;
  color: #1d1d1f;
  margin-left: 7rem;
  padding-left: 2.2rem;
  margin-bottom: 2.1rem;
}

.our-stars {
  margin-top: 13.1rem;
}

.our-stars-image-container {
  height: 46rem;
  background-color: #f0f1ec;
}

.our-stars-image {
  width: 86.56%;
  height: 48.9rem;
}

.our-stars-content {
  margin-top: 3.5rem;
  text-align: center;
}

.our-stars-content h5 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1d1d1f;
  margin-bottom: 1.3rem;
}

.our-stars-title {
  font-size: 3.5rem;
  font-weight: 500;
  color: #1d1d1f;
  margin-bottom: 5.3rem;
  line-height: 4.2rem;
}

.our-stars-stats {
  margin-bottom: 3.9rem;
}

.stats-numbers {
  font-weight: 600;
  font-size: 4rem;
  color: #06c167;
  line-height: 4.8rem;
  margin-bottom: 1.6rem;
}

.stats-detail {
  font-weight: 400;
  font-size: 1.5rem;
  color: #1d1d1f;
  opacity: 0.65;
  line-height: 1.8rem;
}

.special-promo {
  margin-top: 2.7rem;
}

.our-features {
  margin-top: 12.9rem;
}

.our-features h5 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #1d1d1f;
  text-align: center;
  margin-bottom: 1.3rem;
}

.our-features-title {
  font-weight: 500;
  text-align: center;
  font-size: 3.5rem;
  color: #1d1d1f;
  margin-bottom: 6.5rem;
}

.our-features-image {
  margin-left: 4.22%;
  margin-right: 4.22%;
  width: 91.56%;
}

.first-feature-image {
  width: 100%;
  height: 29.3rem;
  margin: 0;
}

.our-features-description {
  min-height: 29.3rem;
  background-color: #f0f1ec;
  border: 1.5px solid #06c167;
}

.our-features-description-title {
  font-size: 3.2rem;
  line-height: 3.9rem;
  font-weight: 500;
  color: #1d1d1f;
  padding-top: 3.75rem;
  padding-left: 11.875%;
  padding-right: 16.875%;
}

.our-features-description-content {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: normal;
  color: #1d1d1f;
  padding-top: 2.5rem;
  padding-left: 11.875%;
  padding-right: 16.875%;
}

.discover-now {
  border: 0;
  margin-top: 3.75rem;
  margin-left: 11.875%;
  margin-right: 16.875%;
  margin-bottom: 1rem;
  height: 4.2rem;
  font-size: 1.5rem;
  color: #06c167;
  background-color: #f0ede2;
  font-weight: 500;
  line-height: 1.8rem;
  padding-top: 1.1rem;
  padding-left: 9.459%;
  padding-right: 12.162%;
  padding-bottom: 1.3rem;
}

.discover-now-icon {
  filter: invert(53%) sepia(84%) saturate(1122%) hue-rotate(107deg)
    brightness(91%) contrast(95%);
  width: 1.222rem;
}

.our-product {
  margin-top: 12.9rem;
}

.our-product h5 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #1d1d1f;
  text-align: center;
  margin-bottom: 1.3rem;
}

.our-product-title {
  font-weight: 500;
  text-align: center;
  font-size: 3.5rem;
  color: #1d1d1f;
  margin-bottom: 7rem;
}

.our-product-container {
  height: 44.5rem;
  width: 100%;
  border: 2px solid rgba(118, 118, 117, 0.25);
  text-align: center;
  margin-bottom: 3.8rem;
}

.our-product-container:hover {
  border: 2px solid #06c167;
}

.our-product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
}

.our-products-star {
  margin-top: 0.5rem;
}

.our-product-container-title {
  margin-top: 2.1rem;
  color: #1d1d1f;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.our-product-price {
  margin-top: 2.5rem;
  color: #06c167;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
}

.our-product-price strike {
  color: #767675;
  opacity: 0.35;
  font-weight: 600;
}

.buy-now {
  margin-top: 3rem;
  border: 2px solid #06c167;
  padding-top: 1.7rem;
  padding-bottom: 1.9rem;
  padding-left: 16.949%;
  padding-right: 14.124%;
  color: #06c167;
  background-color: #ffffff;
}

.our-product-arrow-icon {
  filter: invert(53%) sepia(84%) saturate(1122%) hue-rotate(107deg)
    brightness(91%) contrast(95%);
}

.veggie {
  margin-top: 6.8rem;
  height: 459px;
  margin-left: -8.5%;
  margin-right: -8.5%;
}

/* 1=3.188  */
.veggie-image {
  z-index: -1;
  max-width: none;
}

.veggie-content {
  text-align: center;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 4.2rem;
  width: 91.562%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10.2rem;
}

.footer {
  margin-top: 9.5rem;
}

.footer-foodies {
  text-align: center;
}

.footer-content {
  padding-top: 3.9rem;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  padding-bottom: 3.66rem;
  justify-content: center;
  color: #1d1d1f;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.42rem;
}

.facebook,
.instagram {
  margin-right: 2.5rem;
}

.footer-about-us {
  margin-top: 8rem;
  text-align: center;
}

.footer-title {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #1d1d1f;
  margin-bottom: 4.1rem;
}

.footer-links {
  display: block;
  color: #1d1d1f;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding-bottom: 1.6rem;
}

.footer-company {
  margin-top: 6.4rem;
  text-align: center;
}

.get-in-touch {
  margin-top: 6.4rem;
  text-align: center;
}

.get-in-touch-footer-content {
  padding-top: 0;
  justify-content: center;
  color: #1d1d1f;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  margin-bottom: 3.9rem;
}

.email {
  border: 0;
  width: 100%;
  background-color: #f0f1ec;
  text-align: center;
  padding-top: 1.8rem;
  padding-bottom: 1.9rem;
  margin-bottom: 1rem;
}

.email:placeholder-shown {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #1d1d1f;
  opacity: 0.51;
}

.subscribe {
  border: 0;
  width: 100%;
  background-color: #06c167;
  text-align: center;
  padding-top: 1.6rem;
  padding-bottom: 1.7rem;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.4rem;
}

.copyright {
  margin-top: 8.1rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #1d1d1f;
  text-align: center;
  margin-bottom: 3.1rem;
}
