@media (min-width: 823px) {
  header {
    min-height: 7rem;
  }
  .logo {
    margin-left: 2rem;
    float: left;
    width: 25%;
  }
  .search {
    margin-left: 1rem;
    float: left;
    width: 40%;
    margin-top: 4%;
  }

  .search-box {
    height: 2rem;
    background-color: #caeff7;
    width: 70%;
  }

  input[type="text"] {
    font-size: 1.2rem;
  }
  .search input::placeholder {
    font-size: 1rem;
  }

  .cross-icon {
    height: 2rem;
    width: 1.5rem;
  }

  .search-icon {
    height: 2rem;
    width: 1.5rem;
    margin-left: 0.2rem;
  }

  .search-button {
    padding: 0;
    font-size: 0.7rem;
    height: 2rem;
    width: 3rem;
    margin-left: 1rem;
  }
  .search:before {
    background-size: 0.6rem 2rem;
    width: 0.6rem;
    height: 2rem;
  }

  .search-button:before {
    background-size: 0.6rem 2rem;
    width: 0.6rem;
    height: 2rem;
  }

  .search-button:after {
    background-size: 0.6rem 2rem;
    width: 0.6rem;
    height: 2rem;
    left: 3rem;
  }

  .profile {
    margin-right: 1rem;
    float: right;
    width: 24%;
    margin-top: 4%;
  }

  .user-nav {
    margin-left: 1rem;
  }

  .username {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .user-nav-item a {
    font-size: 1rem;
    font-weight: bold;
  }
  .main-navbar .main-navbar-items {
    display: inline;
  }

  .main-navbar:focus-within .main-navbar-items {
    display: inline;
  }
  .notifications .notification {
    display: inline;
  }

  .notifications:focus-within .notification {
    display: inline;
  }

  .main-container .left-navbar {
    display: block;
  }

  .main-container:focus-within .left-navbar {
    display: block;
  }

  .right-navbar-menu .right-navbar {
    display: block;
  }

  .right-navbar-menu:focus-within .right-navbar {
    display: block;
  }

  .hamburger,
  .hamburger-menu {
    display: none;
    visibility: hidden;
    width: 0;
  }

  .main-navbar-item-name,
  .notification-group,
  .side-navbar-item,
  .side-navba-item *,
  .side-navbar-topic,
  .side-navbar-topic * {
    display: inline;
    font-size: 1rem;
    color: #000;
    text-align: center;
    width: auto;
    padding: 1em 1em;
    background-color: #dddddd;
    margin-bottom: 1%;
  }

  .main-navbar-item-name:hover,
  .notification-group:hover,
  .side-navbar-item:hover,
  .side-navba-item *:hover,
  .side-navbar-topic:hover,
  .side-navbar-topic *:hover {
    background-color: inherit;
    text-decoration: none;
  }

  .navbar {
    width: 100%;
    background-color: #f5f5f5;
    height: 4rem;
  }

  .main-navbar {
    margin-left: 1%;
    width: 50%;
    margin-top: 0.5rem;
    float: left;
    height: 4rem;
  }

  .main-navbar-item {
    float: left;
    width: 24%;

    margin-right: 1%;
    height: 2rem;
  }

  .main-navbar-item-name {
    font-size: 1rem;
    display: inline-block;
    color: #3c3c3c;
    width: 100%;
    background-color: #f5f5f5;
    font-weight: bold;
    padding: 0;
    margin-top: 1rem;
  }

  .main-navbar-item-name:hover {
    color: #979797;
    text-decoration: underline;
  }

  .notifications {
    float: right;
    width: 40%;
    margin: 0;
    padding: 0;
  }

  .notification {
    display: inline;
    margin-left: 0;
    float: left;
    width: 45%;
    margin-right: 5%;
    height: 4rem;
  }

  .notification-group {
    float: left;
    height: 2rem;
    width: 100%;
    padding: 0;
    background-color: #f5f5f5;
    font-weight: bold;
    margin-top: 1rem;
  }
  .notification-group:hover {
    color: #979797;
    text-decoration: underline;
  }

  .notification-name {
    font-size: 1rem;
    columns: #3c3c3c;
    float: left;
    margin-top: 8px;
    width: 85%;
  }
  .notification-name:hover {
    text-decoration: underline;
  }

  .notification-logo {
    float: left;
  }
  .navbar:after {
    content: "";
    display: table;
    clear: both;
  }

  .main-container {
    margin-top: 2rem;
  }
  .main {
    width: 50%;
  }

  .main-title {
    margin-top: 0;
  }

  .category-navbar-name-1,
  .category-navbar-name-2 {
    font-size: 0.6rem;
  }

  .left-navbar,
  .main {
    float: left;
    margin-left: 2%;
  }

  .right-navbar {
    float: right;
    margin-right: 2%;
  }

  .left-navbar,
  .right-navbar {
    width: 20%;
  }

  .main-container:after {
    display: table;
    content: "";
    clear: both;
  }
  .side-navbar-title {
    display: block;
    background-color: #2fc1da;
    color: #ffffff;
    height: 3rem;
    padding-top: 0.8rem;
    font-size: 1.1rem;
    padding-left: 1rem;
  }

  .side-navbar-topic {
    background-color: #f5f5f5;
    width: 83%;
    text-align: left;
    display: inline-block;
    color: #292929;
    padding-left: 1rem;
    padding-right: 0;
    line-height: 20px;
  }

  .side-navbar-list {
    background-color: #f5f5f5;
  }

  .side-navbar-logo {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .side-navbar-item {
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .side-navbar-logo {
    float: right;
    margin-top: 1.4rem;
  }

  .side-navbar-link {
    display: inline-block;
    width: 100%;
  }

  .side-navbar-link:hover {
    background-color: #ffffff;
  }

  .footer {
    font-size: 1rem;
  }
}
