.search {
  position: relative;
  float: right;
}

.profile {
  float: right;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

.search:before {
  float: left;
}

.cross-icon {
  position: absolute;
  left: 238px;
}

.search-icon {
  position: absolute;
  left: 254px;
}

.search-icon:after {
  position: absolute;
  top: 0;
  left: 15px;
}

.main {
  margin-left: 26px;
  margin-right: 24px;
  width: 518px;
}

.search:before {
  float: left;
}

.cross-icon {
  position: absolute;
}

.search-button {
  position: absolute;
}

.search-button:before {
  position: absolute;
  top: 0;
  left: -6px;
}

.search-button:after {
  position: absolute;
  top: 0;
  left: 50px;
}

.profile {
  float: right;
}

.main-navbar {
  float: left;
}

.main-navbar-item {
  float: left;
}

.notifications {
  float: right;
}

.notification {
  margin-left: 30px;
  float: left;
}
.navbar:after {
  content: "";
  display: table;
  clear: both;
}

.left-navbar,
.main {
  float: left;
}

.main-container:after {
  display: table;
  content: "";
  clear: both;
}

.side-navbar-logo {
  float: right;
}

.category-left,
.category-right {
  float: left;
}

.category-left:before {
  float: left;
}

.category-right {
  position: relative;
}

.category-right:after {
  position: absolute;
  top: 0;
  left: 247px;
}

.categories:after {
  display: table;
  content: "";
  clear: both;
}

.category-navbar-name-1,
.category-navbar-name-2 {
  position: relative;
}

.category-navbar-name-1 {
  float: left;
}
.category-navbar-name-2 {
  float: right;
}

.category-navbar-name-1:before,
.category-navbar-name-2:before {
  position: absolute;
  top: 0;
  left: -14px;
}

.category-navbar-name-1:after,
.category-navbar-name-2:after {
  position: absolute;
  top: 0;
  left: 86px;
}
.article:after {
  display: table;
  content: "";
  clear: both;
}

.author-photo {
  float: left;
}

.content {
  float: left;
}

.footer-navbar {
  float: left;
}

.copyright {
  float: right;
}

.footer:after {
  display: table;
  content: "";
  clear: both;
}

.subscription-status::after {
  display: table;
  content: "";
  clear: both;
}
