@media (min-width: 480px) {
  header {
    min-height: 10rem;
  }
  .logo {
    margin-left: 2rem;
  }
  .search {
    margin-left: 1rem;
  }

  .search-box {
    height: 2rem;
    background-color: #caeff7;
    width: 70%;
  }

  input[type="text"] {
    font-size: 1rem;
  }
  .search input::placeholder {
    font-size: 0.7rem;
  }

  .cross-icon {
    height: 2rem;
    width: 1.5rem;
  }

  .search-icon {
    height: 2rem;
    width: 1.5rem;
    margin-left: 0.2rem;
  }

  .search-button {
    padding: 0.2em;
    font-size: 0.4rem;
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
  }
  .search:before {
    background-size: 0.3rem 2rem;
    width: 0.3rem;
    height: 2rem;
  }

  .search-button:before {
    background-image: url("https://sujal7.github.io/Leapfrog-Assignments/design/tutangle-implementation/images/search-border.png");
    display: inline-block;
    background-size: 0.3rem 2rem;
    width: 0.3rem;
    height: 2rem;
    content: "";
  }

  .search-button:after {
    background-size: 0.3rem 2rem;
    width: 0.3rem;
    height: 2rem;
  }

  .profile {
    margin-right: 1rem;
  }

  .user-nav {
    margin-left: 1rem;
  }

  .username {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .user-nav-item a {
    font-size: 1rem;
    font-weight: bold;
  }
  .main-title {
    font-size: 2rem;
    margin-left: 1rem;
  }
  .article {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #d8d8d8;
    height: 6rem;
  }

  .content {
    width: 70%;
    font-size: 0.8rem;
    margin-left: 2%;
  }

  .content-title {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
  }

  .content span {
    line-height: 1rem;
  }

  .content-title:hover {
    cursor: pointer;
  }

  .author,
  .date-posted,
  .topic-box {
    color: #626262;
    font-size: 0.8rem;
  }

  .author-name {
    color: #2fc1da;
    font-weight: bold;
  }

  .author-name:hover {
    text-decoration: underline;
  }

  .subscription-status {
    color: #6f971d;
    font-size: 0.8rem;
  }

  .topic-box {
    display: inline-block;
  }

  .topic-box-name {
    color: #2fc1da;
    font-weight: bold;
  }

  .topic-box-name:hover {
    text-decoration: underline;
  }

  .content-info {
    font-size: 0.8rem;
    color: #2fc1da;
    font-weight: bold;
  }

  .content-invite {
    font-size: 0.8rem;
    color: #d73f1a;
    font-weight: bold;
  }

  .footer {
    margin-top: 2rem;
    background-color: #727272;
    color: #cecece;
    font-size: 0.8rem;
    min-height: 5rem;
  }

  .footer-navbar-list {
    list-style-type: none;
  }

  .footer-navbar {
    margin-left: 2rem;
    margin-top: 1.5rem;
  }

  .footer-navbar-item {
    display: inline-block;
  }

  .footer-navbar-item-name {
    color: #cecece;
  }

  .footer-navbar-item-name:hover {
    text-decoration: underline;
  }

  .copyright {
    margin-top: 1.5rem;
    margin-right: 2rem;
  }
}
