body {
  font-family: 'Press Start 2P', cursive;
  background-image: url(https://sujal7.github.io/Leapfrog-Assignments/js-assignments/assignment-4/src/images/background.png);
}
.road {
  margin: 10px auto;
  width: 300px;
  height: 600px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.road:after {
  display: block;
  clear: both;
  content: '';
}

.lane {
  width: 100px;
  height: 600px;
  float: left;
}

.left,
.middle {
  border-right: none;
}

.car {
  width: 50px;
  height: 80px;
  position: absolute;
  bottom: 10px;
}

.car.lane-left {
  left: 25px;
}

.car.lane-middle {
  left: 125px;
}

.car.lane-right {
  left: 225px;
}

.score {
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
  color: rgb(3, 69, 122);
}

.start-screen {
  position: absolute;
  background-color: #000000;
  color: #e2e2e2;
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-right: 30%;
  padding: 20px;
  line-height: 3rem;
  bottom: 200px;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
}

.game-over-screen {
  position: absolute;
  background-color: #000000;
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-right: 30%;
  line-height: 3rem;
  padding: 20px;
  bottom: 200px;
  text-align: center;
  font-size: 2rem;
  display: none;
  color: rgb(206, 20, 20);
  cursor: pointer;
}

.high-score {
  position: absolute;
  width: 20%;
  margin-left: 10%;
  margin-right: 70%;
  height: auto;
  top: 10px;
  text-align: center;
  font-size: 2rem;
  color: rgb(22, 189, 22);
  font-size: 2rem;
  background-color: #000000;
  padding: 20px;
}
